<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Menu App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <body>
    <div class="container" ng-controller="NarrowItDownController as ctrl">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <input type="text" ng-model="ctrl.searchTerm" placeholder="Search term">
      <button class="btn btn-primary" ng-click="ctrl.narrowItDown()">Narrow It Down For Me!</button>

      <found-items found="ctrl.found" on-remove="ctrl.removeItem(index)"></found-items>

      <div class="emptyMessage" ng-if="ctrl.errorMessage">{{ ctrl.errorMessage }}</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="foundItems.directive.js"></script>
  </body>
</html>
